{% extends 'base.html' %}
{% block title %} Quiz {% endblock %}
{% block content %}
<div class="container">
    <div class="justify-content-center">
        {% if question %}
        <div id="countdownTimer" class="text-center mt-3">
            Time remaining: <span id="timeRemaining">{{ time }}</span> seconds
        </div>    
        <div class="text-center mt-5 text-success">
            <h3>Question {{ question_index|add:1 }}:</h3>
            <h4>{{ question.question }}</h4>
        </div>
        <div class="text-center mt-5">
            <form method="post" action="{% url 'next_question' quiz_id=quiz_id %}">
                {% csrf_token %}
                <ul class="list-unstyled">
                    <li class="quiz-option">
                        <label class="btn btn-success w-50 custom-btn">
                            <input type="radio" name="selected_choice" value="{{ question.op1 }}">
                            {{ question.op1 }}
                        </label>
                    </li>
                    <li class="quiz-option">
                        <label class="btn btn-success w-50 mt-2 custom-btn">
                            <input type="radio" name="selected_choice" value="{{ question.op2 }}">
                            {{ question.op2 }}
                        </label>
                    </li>
                    <li class="quiz-option">
                        <label class="btn btn-success w-50 mt-2 custom-btn">
                            <input type="radio" name="selected_choice" value="{{ question.op3 }}">
                            {{ question.op3 }}
                        </label>
                    </li>
                    <li class="quiz-option">
                        <label class="btn btn-success w-50 mt-2 custom-btn">
                            <input type="radio" name="selected_choice" value="{{ question.op4 }}">
                            {{ question.op4 }}
                        </label>
                    </li>
                </ul>
                {% if question_index < total_questions|add:'-1' %}
                    <input type="submit" class="btn btn-info" value="Next Question">
                {% else %}
                    <input type="submit" class="btn btn-success" value="Submit">
                {% endif %}
            </form>
        </div>
    {% else %}
    <div class="d-flex flex-column align-items-center mt-5">
        <h5 class="text-success">No Question Available</h5>
    </div>
    
    {% endif %}
    </div>

</div>
<script>
    
function startCountdown(quizEndTime) {
    var countdownElement = document.getElementById('countdownTimer');
    
    function updateCountdown() {
        var now = new Date();
        var timeRemaining = Math.max(Math.floor((quizEndTime - now) / 1000), 0);

        if (timeRemaining > 0) {
            countdownElement.innerHTML = 'Time remaining: ' + timeRemaining + ' seconds';
        } else {
            clearInterval(countdownInterval);
            countdownElement.innerHTML = "Time's up!";
            document.querySelector('form').submit();
        }
    }

    updateCountdown();
    var countdownInterval = setInterval(updateCountdown, 1000);
}
document.addEventListener('DOMContentLoaded', function () {
    var quizEndTime = new Date("{{ quiz_end_time|date:'Y-m-d H:i:s' }}");
    startCountdown(quizEndTime);
});

</script>
{% endblock %}