.bg-green{
    background-color: rgb(120, 234, 112);
}
.text-green{
    color: green
}

.navbar-green {
    background-color: rgb(120, 234, 112);
}
.btn.custom-btn {
    text-align: left;
    padding-left: 20px;
    background-color: rgb(70, 205, 17);
}
.custom-h1-font {
    font-family: 'Open Sans', sans-serif;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 2px solid rgb(35, 53, 33);
    width: 400px;
}

