.bg-green{
    background-color: rgb(120, 234, 112);
}
.text-green{
    color: green
}

.navbar-green {
    background-color: rgb(120, 234, 112);
}
.btn.custom-btn {
    text-align: left;
    padding-left: 20px;
    background-color: rgb(70, 205, 17);
}
.custom-h1-font {
    font-family: 'Open Sans', sans-serif;
}